<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>
  <% if page.data.title.nil? %>
    <%= metadata.title %> | <%= metadata.tagline %>
  <% else %>
    <%= page.data.title %> | <%= metadata.description %>
  <% end %>
</title>
<meta name="description" content="{{ metadata.description }}" />

<link rel="stylesheet" href="<%= webpack_path :css %>" />
<script src="<%= webpack_path :js %>" defer></script>

